# Ports (Dev)
PORT_WEB=8550
PORT_API=8551
PORT_MYSQL=8552

# Database
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=obulus
DATABASE_PASSWORD=obulus_dev
DATABASE_NAME=d025d88e

# JWT
JWT_SECRET=change-me-to-a-random-string-min-32-chars

# API (used by frontend in production)
API_URL=http://localhost:8551

# Bookamat (https://www.bookamat.com)
BOOKAMAT_USER=
BOOKAMAT_API_KEY=
BOOKAMAT_STARTING_YEAR=2015
